.gallery {
  margin: 7vh auto 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  width: 92.5%;
  max-width: 1300px;
}

@media screen and (max-width: 1024px) {
  .gallery {
    margin-top: 92px;
    width: 90.6%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    grid-template-columns: 1fr;
    width: 94%;
    gap: 12px;
    margin-bottom: 64px;
  }
}