@import url("__image/card__image.css");

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
  width: 90%;
  padding-left: 4vw;
  margin-top: 7vh;
}