.header {
  padding: 12px 48px;
  display: grid;
  grid-template-columns: calc(100% - 8%) 28px 28px;
  color: white;
  column-gap: 10px;
  position: sticky;
  top: 0;
  background-color: rgba(42, 44, 47, 0.8);
}
