.card__text {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .card__text {
    width: auto;
  }
}

@media screen and (max-width: 1024px) {
  .card__text {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .card__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .card__text {
    margin-left: 5vw;
    width: 90vw;
  }
}
