.card__link-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 4%;
}

@media screen and (max-width: 768px) {
  .card__link-container {
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 320px) {
  .card__link-container {
    padding-left: 16px;
  }
}