.question__info {
  margin: 0;
  width: 58%;
  font-size: 1em;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .question__info {
    width: 94%;
  }
}

@media screen and (max-width: 320px) {
  .question__info {
    width: 90%;
  }
}