.finishing-cover__subheading {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  width: 23%;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .finishing-cover__subheading {
    font-size: 14px;
    line-height: 16px;
    width: 90vw;
  }
}