.cover {
  margin: 28px auto 0;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    width: 100vw;
    margin-top: 36px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-top: 32px;
  }
}