.finishing-cover {
  background-image: url("../../images/finishing-cover.jpg");
  width: 92.5%;
  aspect-ratio: 1184 / 740;
  background-size: contain;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .finishing-cover {
    width: 100vw;
    height: auto;
  }
}