.card__link-name {
  color: #AAAAAA;
  font-size: 12px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1vh;
}

@media screen and (max-width: 768px) {
  .card__link-name {
    width: 44vw;
  }
}