.card__link-name {
  text-transform: uppercase;
  color: #AAAAAA;
  font-size: 12px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .card__link-name {
    width: 44vw;
    margin-bottom: 4px;
  }
}