.card {
  margin: 0 auto 6vw;
  display: grid;
  width: 76vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  color: white;
  gap: 20px;
  max-width: 1300px;
}

@media screen and (max-width: 1024px) {
  .card {
    grid-template-columns: 11fr 10fr;
    width: 90vw;
    gap: 28px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    grid-template-columns: 85fr 88fr;
    height: fit-content;
    margin-left: 24px;
    width: auto;
    margin-right: 24px;
    row-gap: 10px;
    margin-bottom: 62px;
  }
}

@media screen and (max-width: 430px) {
  .card {
    gap: 5px;
  }
}

@media screen and (max-width: 320px) {
  .card {
    width: 100%;
    margin-left: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 0;
  }
}
